@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Futura';
    font-size: 18px;
    color: white;
}

body {
    background-color: rgb(26, 26, 26);
    height: 100%;
}